<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="700px" fxFlex.xs="100%">
    <mat-card-title>{{ title }}</mat-card-title>
      <form
        [formGroup]="searchForm"
        autocomplete="off"
        novalidate
        (ngSubmit)="search(searchForm.value)"
        fxLayout="column wrap"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        *ngIf="searchForm"
      >
      <mat-card-content>
        <mat-form-field>
          <mat-label>Class</mat-label>
          <mat-select 
            id="classId"
            formControlName="class"
            (selectionChange)="onSelectClass($event.value)">
            <mat-option *ngFor="let cls of classes" [value]="cls.id">{{ cls.classCode }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Subject</mat-label>
          <mat-select 
            id="subjectId"
            formControlName="subject"
            (selectionChange)="onSelectSubject($event.value)">
            <mat-option *ngFor="let sub of subjects" [value]="sub.id">{{ sub.subjectName }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Chapter</mat-label>
          <mat-select 
            id="chapterId"
            formControlName="chapter">
            <mat-option *ngFor="let chapter of chapters" [value]="chapter.id">{{ chapter.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('chapter', 'required')"
            >Chapter is required</mat-error
          >
        </mat-form-field>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            [disabled]="!searchForm.valid"
            *ngIf="!viewOnly"
          >
            Search
          </button>
        </mat-card-actions>
      </mat-card-content>
    </form>
  </mat-card>
</section>
