<!-- <h3>Top Chapters</h3>
<div class="grid grid-pad">
  <a
    *ngFor="let chapter of chapters"
    class="col-1-4"
    routerLink="/chapter-detail/{{ chapter.id }}"
  >
    <div class="module chapter">
      <h4>{{ chapter.name }}</h4>
    </div>
  </a>
</div> -->
<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Welcome to the Mock Test Application</p>
  </div>

  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Material Components">
      <p>
        We are going to use different material components to create nice looking
        angular app.
      </p>
    </mat-tab>
    <mat-tab label="Consume .NET Core Web API">
      <p>
        We will consume our .NET Core application. Basically, we will create
        complete CRUD client app.
      </p>
    </mat-tab>
    <mat-tab label="Fully responsive navigation menu">
      <p>
        By using material components, we are going to create fully responsive
        navigation menu, with its side-bar as well.
      </p>
    </mat-tab>
  </mat-tab-group>
</section>
