<div *ngIf="dataSource" fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input
      matInput
      type="text"
      (keyup)="doFilter($event.target.value)"
      placeholder="Filter"
    />
  </mat-form-field>
  <div>
    <a [routerLink]="['/question',chapterId,'create']" mat-button color="primary"
      >Create Question</a
    >
  </div>
</div>
<table *ngIf="dataSource" mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="questionImagePath">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Question</th>
    <td mat-cell *matCellDef="let element">
      <img
        src="{{ element.questionImagePath }}"
        style="height: 50px; width: 100px"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="rightAnswer">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Right Answer</th>
    <td mat-cell *matCellDef="let element">{{ element.rightAnswer }}</td>
  </ng-container>

  <ng-container matColumnDef="multipleChoice">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Multiple Choice</th>
    <td mat-cell *matCellDef="let element">{{ element.multipleChoice }}</td>
  </ng-container>

  <ng-container matColumnDef="marks">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Marks</th>
    <td mat-cell *matCellDef="let element">{{ element.marks }}</td>
  </ng-container>

  <ng-container matColumnDef="negativeMark">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Negative Mark</th>
    <td mat-cell *matCellDef="let element">{{ element.negativeMark }}</td>
  </ng-container>

  <ng-container matColumnDef="noOfOption">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>No of Option</th>
    <td mat-cell *matCellDef="let element">{{ element.noOfOption }}</td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>Details</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="primary"
        (click)="redirectToDetails(element.id)"
      >
        <mat-icon class="mat-18">reorder</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef>Update</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="accent"
        (click)="redirectToUpdate(element.id)"
      >
        <mat-icon class="mat-18">system_update</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="warn"
        (click)="redirectToDelete(element.id)"
      >
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator *ngIf="dataSource" [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]">
</mat-paginator>
