<h2>My Questions</h2>

<div class="search-container">
  <mat-form-field appearance="standard">
    <mat-label>Class</mat-label>
    <mat-select
      id="class"
      [(ngModel)]="classId"
      (selectionChange)="onClassSubjectChange($event)"
    >
      <mat-option value="">-- Select Class --</mat-option>
      <mat-option *ngFor="let class of classes" [value]="class.id">
        {{ class.className }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Subject</mat-label>
    <mat-select
      id="subject"
      [(ngModel)]="subjectId"
      (selectionChange)="onClassSubjectChange($event)"
    >
      <mat-option value="">-- Select Subject --</mat-option>
      <mat-option *ngFor="let subject of subjects" [value]="subject.id">
        {{ subject.subjectName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Chapter</mat-label>
    <mat-select [(ngModel)]="question.chapterId" required>
      <mat-option value="">-- Select Chapter --</mat-option>
      <mat-option *ngFor="let chapter of chapters" [value]="chapter.id">
        {{ chapter.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- (click) passes input value to add() and then clears the input -->
  <div>
    <button
      mat-raised-button
      color="primary"
      (click)="getQuestions(question.chapterId)"
    >
      Go
    </button>
  </div>
</div>

<div>
  <!-- <div>
    <mat-label>Image Path:</mat-label>
    <input
      [(ngModel)]="question.questionImagePath"
      placeholder="Image Path"
    />
  </div> -->
  <div>
    <mat-card style="margin-top: 10px; width: 50%">
      <mat-card-actions>
        <button mat-button color="warn" (click)="onClick()">
          <mat-icon>attach_file</mat-icon>
          Attach Question
        </button>
      </mat-card-actions>
    </mat-card>
    <input
      #fileUpload
      id="fileUpload"
      name="fileUpload"
      type="file"
      (change)="onFileChange($event)"
      accept="image/*"
      style="display: none"
    />
  </div>
  <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width: 500px" />

  <mat-form-field appearance="standard">
    <mat-label>No of Option</mat-label>
    <input
      matInput
      type="number"
      min="1"
      max="10"
      [(ngModel)]="question.noOfOption"
      placeholder="No of option"
    />
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Right Answer</mat-label>
    <input
      matInput
      [(ngModel)]="question.rightAnswer"
      placeholder="Right answer"
    />
  </mat-form-field>
  <section>
    <mat-checkbox
      [(ngModel)]="question.multipleChoice"
      [checked]="question.multipleChoice"
      >Multiple Choice</mat-checkbox
    >
  </section>
  <mat-form-field appearance="standard">
    <mat-label>No of Marks</mat-label>
    <input
      matInput
      type="number"
      min="1"
      max="10"
      [(ngModel)]="question.marks"
      placeholder="No of marks"
    />
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Negative Marks</mat-label>
    <input
      matInput
      type="number"
      min="1"
      max="10"
      [(ngModel)]="question.negativeMark"
      placeholder="Negative marks"
    />
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click)="add()">Add</button>
  </div>
</div>

<ul class="questions">
  <li *ngFor="let question of questions">
    <a routerLink="/question-detail/{{ question.id }}">
      <span class="badge">{{ question.id }}</span
      ><img src="{{ question.questionImagePath }}" width="150" />
    </a>
    <button class="delete" title="delete question" (click)="delete(question)">
      x
    </button>
  </li>
</ul>
