<div *ngIf="question">
  <h2>{{ question.questionImagePath | uppercase }} Details</h2>
  <div><span>Id: </span>{{ question.id }}</div>
  <div>
    <label>
      Name:
      <input
        [(ngModel)]="question.questionImagePath"
        placeholder="Image path"
      />
    </label>
  </div>
  <div>
    <label>
      Class:
      <select [(ngModel)]="question.classId">
        <option *ngFor="let class of classes" [value]="class.id">
          {{ class.className }}
        </option>
      </select>
    </label>
  </div>
  <div>
    <label>
      Subject:
      <select [(ngModel)]="question.subjectId">
        <option *ngFor="let subject of subjects" [value]="subject.id">
          {{ subject.subjectName }}
        </option>
      </select>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
