<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="">Dashboard</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/class/classes">Class</a>
      </li>
      <li>
        <a routerLink="/subject/subjects">Subject</a>
      </li>
      <li>
        <a routerLink="/chapter/chapters">Chapter</a>
      </li>
      <li>
        <a routerLink="/question/search">Question</a>
      </li>
      <li>
        <a routerLink="#">Test</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
