<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="700px" fxFlex.xs="100%">
    <mat-card-title>{{ title }}</mat-card-title>
    <form
      [formGroup]="subjectForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="createSubject(subjectForm.value)"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      *ngIf="subjectForm"
    >
      <mat-card-content>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="subject.subjectCode"
            placeholder="Subject Code"
            formControlName="subjectCode"
            id="subjectCode"
            [readonly]="viewOnly"
          />
          <mat-hint align="end">Alphanumeric Code</mat-hint>
          <mat-error *ngIf="hasError('subjectCode', 'required')"
            >Subject Code is required</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="subject.subjectName"
            placeholder="Subject Name"
            formControlName="subjectName"
            id="subjectName"
            [readonly]="viewOnly"
          />
          <mat-error *ngIf="hasError('subjectName', 'required')"
            >Subject Name is required</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Class</mat-label>
          <mat-select 
            [(ngModel)]="subject.clazz.id"
            formControlName="clazz"
            id="clazzId"
            [disabled]="viewOnly">
            <mat-option *ngFor="let class of classes" [value]="class.id">{{ class.classCode }}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('clazz', 'required')"
            >Class is required</mat-error
          >
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!subjectForm.valid"
          *ngIf="!viewOnly"
        >
          {{ btnSubmit }}
        </button>
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
